.DS_Store
bootloaders/*/build/
*.o
*.d
*.bin
*.elf
*.lss
*.map
*.srec
*.eep
bootloaders/etagrfid/Bootloader_D21/.vs/
bootloaders\etagrfid\Bootloader_D21\.vs\Bootloader_D21\v14\.atsuo
ArduinoCore-ETAGRFID/bootloaders/etagrfid/Bootloader_D21/.vs/Bootloader_D21/v14/.atsuo
*.bak
*.i
ArduinoCore-ETAGRFID/bootloaders/etagrfid_J17D/Bootloader_D21/.vs/Bootloader_D21/v14/.atsuo
